<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAjQKIOrawqg0NO42eerWOKf_ICj9zKjTE</string>
	<key>GCM_SENDER_ID</key>
	<string>534631611099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blackoffer.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>blackoffer-30666</string>
	<key>STORAGE_BUCKET</key>
	<string>blackoffer-30666.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:534631611099:ios:0f45c865bb44e284b8aafe</string>
</dict>
</plist>